{% extends "base.html" %}{% block title %}TV Finder Home{% endblock %}

{% block content %}
<form method="POST">
    <h1 align="center">Welcome to TV Finder</h1>
    <p align="center">Here you can search for your favorite TV shows, and we will show you where to watch them for free!</p>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="{{ title }}"><br>
    </div>

    <div class="form-group">
        <label for="actor">Actors</label>
        <input type="text" class="form-control" id="actor" name="actor" placeholder="Enter Actor Names (separate with comma)" value="{{ actor }}"><br>
    </div>

    <div class="form-group">
        <label for="general">Other info</label>
        <input type="text" class="form-control" id="general" name="general" placeholder="Enter Other General Information" value="{{ general }}"><br><br>
    </div>

    <button type="submit" class="btn btn-primary" value="search" name="button">Search</button>
    <button type="submit" class="btn btn-danger" value="clear" name="button">Clear</button>
    <button class="btn btn-secondary" value="refresh" name="button">Refresh Database</button>
</form>
{% endblock %}
<!-- results -->
{% block result %}
{% if show_result %}
<div class="container">
<table class="table table-dark table-striped">
    <thead>
        <tr class="row">
          <th scope="col" class="col-1">#</th>
          <th scope="col" class="col-4">Thubmnail</th>
          <th scope="col" class="col-6">Info</th>
          <th scope="col" class="col-1"></th>
        </tr>
    </thead>
    {% for x in range(10) %}
    <tr scope="row" class="row">
        <td class="col-md-1">
            {{x+1}}
        </td>

        <td class="col-md-4">
            <img src="{{results[x].data['Image']}}" class="rounded float-start" style="width:255px; height:375px;">
        </td>

        <td class="col-md-6" style="overflow-wrap: break-word;">
            {{results[x].data}}{{results[x].data}}{{results[x].data}}{{results[x].data}}
        </td>

        <td class="col-md-1">
            <a href="https://getbootstrap.com/docs/5.0/utilities/colors/">
                <button class="btn btn-primary">Go</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}